<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Title }} | Finto Consenso</title>
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}Campagna contro il finto consenso digitale: Pay or OK non è una scelta libera.{{ end }}">

    <link rel="stylesheet" href="/css/style1.css" />

    {{ partial "head.html" . }}
  </head>

  <body>
  {{ partial "header.html" . }}

    <main>
      {{ block "main" . }}{{ end }}
    </main>

  {{ partial "footer.html" . }}

    {{ block "scripts" . }}{{ end }}
  </body>
</html>

