<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-column">
      <h4>Il problema</h4>
      <ul>
        <li><a href="/problema">Cos'è il Pay or OK</a></li>
        <li><a href="/diritti-negati">Diritti negati</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Le nostre azioni</h4>
      <ul>
        <li><a href="/lettera">Lettera al Garante</a></li> 
        <!--
        <li><a href="/azione-collettiva">Azione collettiva</a></li>
        -->
        <li><a href="/firma">Firma la lettera</a></li>
        <li><a href="/ragioni">Ragioni e analisi</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Chi siamo</h4>
      <ul>
        <li><a href="/chi-siamo">Contatti</a></li>
        <li><a href="/trattamento-dati">Trattamento dati</a></li>
      </ul>
    </div>
  <p>&copy; 2025 Iniziativa della Rete Diritti Umani Digitali</p>
  </div>
</footer>
