<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.description }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ with .Params.image }}
  <meta property="og:image" content="{{ . }}">
{{ end }}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Params.description }}">
{{ with .Params.image }}
  <meta name="twitter:image" content="{{ . }}">
{{ end }}
