<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Finto Consenso - Sottoscrivi!">

<meta property="og:title" content="{{ with .Title }}{{ . }} {{ else }}Finto Consenso - Rete Diritti Umani Digitali{{ end }}">
<meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}Il modello 'Pay or OK' è un ricatto, non una scelta libera. Difendiamo insieme i diritti dei lettori.{{ end }}">
<meta property="og:image" content="{{ "images/default-og.png" | absURL }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ with .Title }}{{ . }} {{ else }}Finto Consenso - Rete Diritti Umani Digitali{{ end }}">
<meta name="twitter:description" content="{{ with .Params.description }}{{ . }}{{ else }}Il modello 'Pay or OK' è un ricatto, non una scelta libera. Difendiamo insieme i diritti dei lettori.{{ end }}">
<meta name="twitter:image" content="{{ "images/default-og.png" | absURL }}">

